# Node.js
node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
.env
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Other
coverage/
dist/
build/
